.style{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    background: black;
    font-family: 'helvetica neue';
    font-size: 9px;
    font-weight: 200;
    border-radius: 0.5rem;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    color: white;
    transition: all 0.2s ease-in-out;
}

.square{
    width: 200px;
    height: 200px;
    border-style: solid;
    border-color: black;
}

.grid{
    padding-left: 30rem;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    width: 618px;
    height: 618px;
}

.mole {
    background-image: url('mole.jpg');
    background-size: cover;
}


